altgraph==0.17
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
future==0.18.2
html5lib==1.0.1
idna==2.8
mechanize==0.4.3
pefile==2019.4.18
pyaes==1.6.1
pyasn1==0.4.8
PyInstaller==3.6
pynput==1.6.8
PyQt5==5.15.0
PyQt5-sip==12.8.0
PySocks==1.7.1
pyTelegramBotAPI==3.7.2
pytube==9.6.0
pywin32-ctypes==0.2.0
requests==2.22.0
rsa==4.6
selenium==3.141.0
six==1.12.0
soupsieve==2.0.1
Telethon==1.15.0
urllib3==1.25.6
webencodings==0.5.1
